{% extends "layout.html" %}
{% block content %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin-left:auto;margin-right:auto;">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">合計点数</th>
            <th class="mdl-data-table__cell--non-numeric">ランク</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">10〜23</td>
            <td class="mdl-data-table__cell--non-numeric">C</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">24〜46</td>
            <td class="mdl-data-table__cell--non-numeric">CC</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">47〜62</td>
            <td class="mdl-data-table__cell--non-numeric">SC</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">63〜70</td>
            <td class="mdl-data-table__cell--non-numeric">B</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">71〜76</td>
            <td class="mdl-data-table__cell--non-numeric">BB</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">77〜80</td>
            <td class="mdl-data-table__cell--non-numeric">SB</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">81〜84</td>
            <td class="mdl-data-table__cell--non-numeric">A</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">85〜86</td>
            <td class="mdl-data-table__cell--non-numeric">AA</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">87〜88</td>
            <td class="mdl-data-table__cell--non-numeric">SA</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">89以上</td>
            <td class="mdl-data-table__cell--non-numeric">P</td>
        </tr>
    </tbody>
</table>
{% endblock %}
